.App {
  text-align: center;
}

#gameCanvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: top;
  align-items: center;
  overflow: hidden;
  background-color: #282c34;
  border: 2px solid #61dafb;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.controls-row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.mid-control-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }

  .mid-control-row {
    flex-direction: row;
    gap: 5px;
  }

  .controls-row {
    flex-direction: column;
    margin: 5px 0;
  }

  .controls button {
    width: 100%;
    margin: 5px 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
